/* בס"ד */
/* button
{
  height: 40px;
  width: 130px;
  background-color: white;
} */
/* div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 300px;
} */
 p{
  /* background-color: rgb(89, 64, 64); */
 }
